<div carousel class="max-w-xl h-96"
    >
    <p>carousel</p>
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/290" width="232" height="290" alt="Image 01" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/174" width="232" height="174" alt="Image 03" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/155" width="232" height="155" alt="Image 04" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/349" width="232" height="349" alt="Image 05" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/250" width="232" height="250" alt="Image 06" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/349" width="232" height="349" alt="Image 07" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/155" width="232" height="155" alt="Image 08" />
    <img _="on click take .hidden from the next <img/>"
            class="carousel-image hidden w-full rounded-xl shadow ease-in-out duration-700" src="https://placebear.com/230/250" width="232" height="250" alt="Image 09" />
</div>
